@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
body {
    background: #0a4257;
    color: #c06162;
    font-family: 'Sen';
    min-height: 100vh;
    position: absolute;
    display: block;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

div.centerDiv {
    margin: 0 auto;
    max-width: 60%;
}

div#composeButton {
    position: fixed;
    right: 100px;
    bottom: 60px;
}

button#compose {
    height: 60px;
    width: 60px;
}

/* Animation for dropdown */
.dropdown_menu-9 {
    animation: growOut 300ms ease-in-out forwards;
    transform-origin: top center;
}

@-moz-keyframes growOut {
    0% {
    transform: scale(0);
    }
    80% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}
@-webkit-keyframes growOut {
    0% {
    transform: scale(0);
    }
    80% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}
@-o-keyframes growOut {
    0% {
    transform: scale(0);
    }
    80% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}
@keyframes growOut {
    0% {
    transform: scale(0);
    }
    80% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}